@page "/estudiantes"
@using estudiante20190487.Data.Models;

<h1>Estudiante</h1>
    <table>
        <br>
   ID <input type="text">
    <br>
    <br>
    Nombre <input type="text">
    <br>
    <br>
      Apellido<input type="text">
      <br>
      <br>
    Fecha de naciemiento<input type="text">
    <br>
    <br>
      Matricula<input type="text">
      <br>
      <br>
    Carrera<input type="text">
    <br>
    <br>
     <button>Guardar</button>

    <button>Eliminar</button>
    </table>
    

<table class="table">
        <thead>
            <tr>
                <th>EstudianteID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
            <th>Matricula</th>
            <th>Carrera</th>
            </tr>
        </thead>
           
    </table>


    

